    /* About me page */
.about_main-body{
    margin-left: 15%;
    margin-right: 15%;
}
/* headers */
.about_main-body h1{
    text-align: left;
    font-size: 45px;
}
/* about me underline */
/* .about_main-body h1::after{
    text-align: center;
    content: '';
    width: 90%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
} */
#about_row{
    display: flex;
    flex-direction: row;
    /* background-color: bisque ; */

    /* Distances between each row */
    padding-bottom: 5%;
}
.about-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 0%; */
}
.about-row1 img{
    width: 250px;
    height: 250px;
}
.about-row1 .text-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 50px;
}
.about-row1 .text-box ul{
    list-style: none; /* No bullet points */
    right: 0px;
}
.about-row1 ul li{
    font-size: 25px;
}

/* Education */
.about-row2{
    justify-content: space-between;
    padding-top: 2%;
}
#edu_image{
    /* position: absolute; */
    max-width: 50%;
    max-height: 100%;
}
#text_box{
    font-size: 23px;
}

.about-row2 #text_box{
    padding-left: 5%;
}
#text_box p{
    padding-top: 2%;
    min-width: 50%;
}

.about-row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;

    position: relative;
    /* background-color: bisque; */
}
.about-row3 #text_box{
    padding-right: 5%;
}
.image_attribution #st_pauls{
    max-width: 50%;
    right: 0;
}
.about-row3 #edu_image{
    /* position: absolute; */
    width: 100%;
    max-width: 100%;
    right: 0;
}


.image_attribution{
    display: flex;
    flex-direction: column;
}
/* .about-row2 h{
    text-align: center;
    font-size: 75px;
} */

/* Adjusting for smaller displays; any adjustments to the values above are added here
    so that smaller/mobile displays take on these values instead */
@media(max-width: 700px){
    .about_main-body{
        margin-left: 0px;
        margin-right: 0px;
        position: center;
        text-align: center;
    }
    .about-row1{
        flex-direction: column;
    }

}