    /* About me page */
.about_main-body{
    margin-left: 15%;
    margin-right: 15%;
}
/* headers */
.about_main-body h1{
    text-align: left;
    font-size: 45px;
}
/* about me underline */
/* .about_main-body h1::after{
    text-align: center;
    content: '';
    width: 90%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
} */
#about_row{

    /* background-color: bisque ; */
}
.about-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-row1 img{
    width: 250px;
    height: 250px;
}
.about-row1 .text-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 50px;
}
.about-row1 .text-box ul{
    list-style: none; /* No bullet points */
    right: 0px;
}
.about-row1 ul li{
    font-size: 25px;
}

/* Education */
.about-row2 #edu_image{
    max-width: 400px;
    max-width: 400px;
}
/* .about-row2 h{
    text-align: center;
    font-size: 75px;
} */

/* Adjusting for smaller displays; any adjustments to the values above are added here
    so that smaller/mobile displays take on these values instead */
@media(max-width: 700px){
    .about_main-body{
        margin-left: 0px;
        margin-right: 0px;
        position: center;
        text-align: center;
    }
    .about-row1{
        flex-direction: column;
    }

}