/* Adjusting the style for all elements using * */
*{
    margin: 0; /* Creating space around the borders of elements */
    padding: 0; /* Creating space around elements INSIDE their borders*/
    /* font-family: 'Atkinson Hyperlegible', sans-serif; Font selection */
    font-family: 'Nunito', sans-serif;
}

    /* ---------- Experience Page ---------- */
.container{
    /* margin-top: 2%; */
    margin: 2% auto 0 auto;
    margin-bottom: 5%;
    /* margin-left: 90px; */
    width: 70%;
    border-left: 2px solid #FFF7B6;
    padding: 0 30px 0 50px;

}

.container .timeline{
    width: 50%;
}

.timeline_ul li{
    position: relative;
    left: +1px;
    font-size: 100px;
}

.timeline .node{
    /* background-color: rgba(255,247,182, 0.6); */
    margin-bottom: 25px;
    position: relative;
    left: 100px;
    top: -15px;

    font-size: medium;
}

.timeline ul li .node .job{
    padding-bottom: 5px;
    padding-left: 5%;
    font-size: 40px;
}

.timeline ul li .node .date{
    /* padding-bottom: 10px; */
}

.node .summary{
    padding-top: 10px;
}

.node p{
    width: 70%;
}

.node img{
    padding-top: 20px;
    width: 45px;
}

.skills_box{
    padding-top: 10px;
    width: 70%;
}

.skills_list{
    padding-left: 20px;
    width: 75%;
}

.skills_list li{
    font-size: medium;
}

.node .skills{
    width: 70%;
    margin-top: 30px;
    /* margin-right: 50px; */
}

.skills ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skills ul li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

/* .skills ul li{
    list-style: none;
    display: inline-block;
    padding-top: 12px;
    position: relative;
} */

.gitlogo {
    font-size: 5px;
}

.skills ul li .skills_node{
    background-color: rgba(255,247,182, 0.8);
    padding: 15px;
    border-radius: 5px;
    font-size: medium;
    width: 100%;
}

.skills_node p{
    color: black;
    text-align: center;
}