/*  
    CSS files describe how HTML elements are displayed on the screen.
    It is used to define styles for web pages including the design, layout
        and variations in display for different devices and screen sizes.
    https://www.w3schools.com/css/css_intro.asp
*/

/*
    CSS Syntax - https://www.w3schools.com/css/css_syntax.asp
*/

/* Adjusting the style for all elements using * */
*{
    margin: 0; /* Creating space around the borders of elements */
    padding: 0; /* Creating space around elements INSIDE their borders*/
    /* font-family: 'Atkinson Hyperlegible', sans-serif; Font selection */
    font-family: 'Nunito', sans-serif;
}

    /* ---------- Projects page ---------- */
.projects_header{
    text-align: center;
}
.projects_header h1{
    font-size: 90px;
}

.projects_images{
    margin-top: 2%;
    margin-bottom: 4%;
}

.projects_row{
    /* left: 5%; */
    margin: 10px 10%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,247,182,0.8);
    border-radius: 10px;
    min-height: 20px;
    /* height: 200px; */
}

.text_box{
    margin: 5% 10%;
    /* margin-right: 40%; */
}

.projects_row .text_box h{
    /* padding-left: 10%;
    /* paddin */
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.projects_row h3{
    font-size: 20px;
    text-align: left;
    color: black;
}

.projects_row p{
    font-size: 20px;
    padding-top: 4%;
    color: black;   
}

.projects_row .gitlogo img{
    padding-top: 5px;
    width: 40px;
}

.projects_row .img_box_right{
    margin: auto 10% auto 0%;
    max-height: 80%;
}

.projects_row .img_box_left{
    margin: auto 0% auto 10%;
    padding: 20px 0;
    max-height: 80%;
}

.projects_row .img_box_right img{
    max-width: 300px;
    max-height: 300px;
}

#mars_img img{
    border-radius: 10px;
}

.projects_row .img_box_left img{
    max-width: 450px;
    max-height: 350px;
}

/* .projects_row .slot{
    flex-basis: 100%;
    border-radius: 2%;
    text-align: center;
    padding: 10% 2%;
    margin: 1% 1%;
    cursor: pointer;
    text-decoration: none;

    background-position: center;
    background-size: cover;
    position: relative;    
} */
/* .projects_row .slot:hover{
    background-color: rgb(255,247,182)
} */

#online_portfolio{
    /* width: 70%; */
    /* background-color: rgba(255,247,182,0.6); */
}



/* Adjusting for smaller displays; any adjustments to the values above are added here
    so that smaller/mobile displays take on these values instead */
@media(max-width: 700px){
    .index_text-box h1{
        font-size: 200%;
    }
}